html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	vertical-align:baseline;
}

html
{
    height:100%; 
    margin-bottom: 0px; 
}

body 
{
    text-align:right;
    height:100%; 
    margin-bottom: 0px;
    font-family: 'Heebo', sans-serif;
	direction:rtl;
	
}

a{
  text-decoration:none;
  -webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in; 
}


/* typography
________________________________________*/
h2 {
    font-family: 'assistant', sans-serif;
    color: #898989;
    font-size: 20px;
    font-weight: 100;
    margin: 19px 15px 25px 0px;
	letter-spacing: 1px;
}

h2 span{
	    font-weight: 600;
		color: #5b5b5b;
}

h3 {
    color: black;
    font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.5px;
}

p {
    color: black;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    padding-top: 4px;
    line-height: 17.5px;
}


/* login
________________________________________*/

body.colors
{
	background-image: url(../images/bg.jpg);
	background-size: cover;
}

div.logo
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

div.logo img
{
	height: 120px;
	animation-name: loader;
	animation-duration: 3s;
	animation-direction: normal;
}

@keyframes loader 
{
	from{transform: rotate(0deg);}
	to{transform: rotate(720deg);}
}

div.login
{
	width: 320px;
    height: 263px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 15px lightblue;
	margin-top: 250px;
	opacity: 0;	
	font-size: 20px;
	box-sizing: border-box;
	padding-top: 30px;
}

form
{
	text-align: center;
}

div.login input
{
	width: 80%;
	margin-bottom: 14px;
	padding: 14px;
	border: none;
	outline: none;
	font-size: 13px;
}

div.login img{
	width: 13px;
	margin-bottom: -3px;
	margin-left: -21px;
}

div.login input[type=text]
{
	background-color: transparent;
	border-bottom: 1px solid lightgray;
	font-family: 'Heebo', sans-serif;
	transition: 0.65s;
	height: 32px;
	text-indent: 15px;
}

div.login input[type=text]:focus{
	border-bottom: 1px solid #a0a0a0;
}

div.login input[type=button]
{
	background-color: #ed7e7e;
	color: white;
	box-shadow: 0px 0px 2px #ed7e7e;
	border-radius: 5px;
	font-family: 'Heebo', sans-serif;
}

div.login div.checkbox
{
	float: right;
	width: 80px;
	margin-right: 26px;
	padding-top: 15px;
	padding-bottom: 10px;
}

div.login input[type=checkbox]
{
	width: 20%;
	float: right;
}

div.login div.checkbox h3
{
	font-size: 13px;
	float: left;
	margin-top: -1px;
	color: #6b6b6b;
}

/* header
________________________________________*/
header{
	height: 80px;
}

div.logotwo{
    width: 40px;
    position: absolute;
    top: 20px;
    left: 15px;
}

div.profile{
    position: absolute;
    top: 15px;
    right: 15px;
}

div.profile img{
	width: 50px;
}
/* menu
________________________________________*/
nav{
	text-align: center;
}

nav a.icon{
	
	font-size: 20px;
	color: #c7e8e8;
	display: inline-block ;
    padding: 23px 33px 20px 33px;
	border-bottom: 1px solid #ffffff;
}

nav a.icon:hover{
    color: #7ddfef;
    cursor: pointer;
    border-bottom: 1px solid #7ddfef;
}

/* עמוד כללי
________________________________________*/

div.box{
    width: 334px;
    margin: 0 auto;
    box-shadow: 0 0 20px 0px #00000012;
    border-radius: 10px;
	margin-bottom: 14px;
}

div.box img{
	width: 65px;
	display: inline-block;
	float: left;
    margin: 22px 10px;
}

div.title{
	display: inline-block;
    margin: 10;
}

div.line{
    margin-left: 14px;
    width: 2;
    height: 77px;
    background-color: #7ddfef;
    margin-right: 18px;
    float: right;
    margin-top: 11px;
}

div.clear{
	clear: both;
}

div.box div.two{
	background-color: #af7eed;
}

div.box div.three{
	background-color: #ffb07b;
}

div.box div.four{
	background-color: #f2e464;
}

     


